*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.color-mainPurple{
    color: $mainPurple;
}
.color-bluishPurple{
    color: $bluishPurple;
}
.color-lightPurple{
    color: $lightPurple;
}
.color-white{
    color: $white;
}
.code-higlight-color{
    color: #6c62be;
}
.code-purple{
    color: #990073;
}
body{
    font-family: 'Manrope', sans-serif;
    color: #333;
    font-weight: 300;
    z-index: 20!important;
}
img{
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Manrope', sans-serif;
}

p{
    line-height: 1.3;
    font-family: 'Manrope', sans-serif;
}
.title{
    font-size: 34px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 13px; 
    
    &-light{
        color: $white;
    }
    &-dark{
        color: $mainPurple;
    }
}

/*Scrollbar*/
::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: $bluishPurple;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
}
/*
::-webkit-scrollbar-thumb:window-inactive{
    background: rgba(147,203,82,0.6);
}
::selection{
    background: rgba(147,203,82,0.6);
}
*/




