$white: #FFF;
$lightGrey: #EEE;
$grey: #666;
$darkGrey: #333;
$steelBlue: #004861;
/*------------------*/
$mainPurple: #452361;
$lightPurple: #C223CE;
$bluishPurple: #8731D2;
$lightBlack: #2a2a2a;
$lightBlue: #6084a4;