.about-us{
/*    padding: 50px 85px 50px 85px;*/
    padding: 50px 0px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    
    &__horiz-line{
        margin-bottom: 0px;
    }
    
    &__content-outer{
        padding-top: 0px;
        
        @mixin mediumScreen{
            padding-top: 20px;
        }
        @mixin extraLargeScreen{
            padding-top: 20px;
        }
    }
    
    &__content{
        font-size: 16px;
        font-weight: 600;
        color: $mainPurple;
        text-align: justify;
        display: inline-block;
    }
    
    &__img{
        margin-left: 0px;
        
        @mixin extraLargeScreen{
            margin-left: 130px;
        }
    }
}