.btn{
    
    
    &-rounded{
        padding: 18px 18px 18px 18px;
        background-color: $lightPurple;
        text-align: center;
        display: inline-block;
        border-radius: 60px;

        p{
            margin: 0px;
            color: #fff;
            font-weight: 700;
            font-size: 14px;
            line-height: 1;
        }

        @mixin smallScreen{
            font-size: 0.915rem;
        }
        @mixin mediumScreen{
            padding: 0.75rem 1.5rem;
        }

        &-white{
    /*
            background-color: $white;
            border: solid 2px $lightPurple
    */
        }

        &-border-hover:hover{
            cursor: pointer;
            background-color: $white;
            border: solid 2px $lightPurple;
            transition: all 0.3s ease;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 

            p{
                color: $lightPurple;
            }
        }
        &-normal-hover:hover{
            cursor: pointer;
            background-color: $bluishPurple;
            transition: all 0.3s ease-in-out;
        }
    }
    
    &-rect-bordered{
        padding: 7px 5px 7px 5px;
        width: 116px;
        height: 40px;
        font-size: 16px;
        font-family: 'Manrope', sans-serif;
        font-weight: 600;
        border: $lightPurple;
        color: $lightPurple;
        border: solid 2px $lightPurple;
        border-radius: 5px;
        text-align: center;
        line-height: 1.3;
        
        a{
            color: $lightPurple;
        }
        
        &:hover{
            background: $bluishPurple;
            border: solid 2px $bluishPurple;
            transition: all .3s ease;
            a{
                color: $white;
            }
        }
    }
}