.build{
    
    padding-top: 25px;
    
    @mixin mediumScreen{
        padding-top: 75px;
    }
    @mixin extraLargeScreen{
        padding-top: 100px;
    }
    
    &-big-title{
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        
       @mixin mediumScreen{
            font-size: 42px;
           text-align: center;
        }
        @mixin extraLargeScreen{
            font-size: 42px;
            text-align: left;
        }
    }
    &-title{
        font-size: 18px;
        font-weight: 600;
        color: $mainPurple;
        text-align: center;
        
        @mixin extraLargeScreen{
            text-align: center;
        }
    }
    &-content{
        font-size: 16px;
        font-weight: 600;
        color: $mainPurple;
        text-align: center;
        line-height: 15.2px;
        padding: 0px 20px;
        
        @mixin extraLargeScreen{
            text-align: left;
            padding: 0px 0px;
            line-height: 1.3;
        }
    }
    
    &__image-row{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    
    img{
        width: 300px;
        height: 200px;
        
        
        @mixin mediumScreen{
            width: 90%;
            height: 90%;
        }
        @mixin extraLargeScreen{
            width: 100%;
            height: 100%;
        }
    }
}