.contact{
    padding: 50px 20px 50px 35px;
    
    @mixin extraLargeScreen{
        padding: 50px 20px;
    }
    color: $white;
    position: relative;
    z-index: 1;
    overflow: hidden;
    
     &__title{
        font-size: 34px;
        font-weight: 500;
        padding-left: 38px;
         
         @mixin mediumScreen{
            padding-left: 38px;
        }
         
         @mixin extraLargeScreen{
            padding-left: 0px;
        }
    }
    
    &__main-contents-row{

        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 0px;
        
        @mixin mediumScreen{
            display: flex;
            flex-direction: column-reverse;
        }
        @mixin extraLargeScreen{
            display: flex;
            flex-direction: row;
            padding-top: 45px;
        }

        &__all-fileds{
            margin-top: 160px;
            display: flex;
            flex-direction: column;
            
            @mixin extraLargeScreen{
                margin-top: 0px;
            }
            
            &__first-name{
                padding-bottom: 20px;
                padding-right: 0px;
                
                @mixin extraLargeScreen{
                    padding-bottom: 0px;
                    padding-right: 15px;
                }
            }
            &__last-name{
                padding-right: 0px;
                
                @mixin extraLargeScreen{
                    padding-right: 15px;
                }
            }
        }

    }
    
    &__big-text-content{
        margin-top: 0px;
        
        @mixin extraLargeScreen{
            margin-top: 142px; 
            text-align: justify;
        }
    }
    
    &__big-text-content__outer{
        padding-left: 0px;
        text-align: justify;
        
        @mixin extraLargeScreen{
            padding-left: 120px!important;
        }
    }
    
    &-dark_inputs{
        width: 95%;
        padding: 8px 10px;
        background: $lightBlack;
        color: #B8B8B8;
        border: solid 1px #474747;
        border-radius: 4px;
        font-size: 15px;
    }
    &-dark_inputs:focus {
        outline: none!important;
        border-color: #333;
    }
    &-big_input{
        height: 70px;
    }
    &-submit{
        background: $lightBlack;
        border: solid 1px $bluishPurple;
        color: $bluishPurple;
        font-size: 14px;
        font-weight: 400;
        border-radius:5px;
        padding: 7px 12px;
        cursor: pointer;
    }
    &-submit:hover{
        background: $bluishPurple;
        color: #fff;
        transition: all 0.3s;
    }
    &-info{
        color: $lightBlack;
        font-weight: 600;
        font-size: 14px;
        padding-left: 60px;
        
        @mixin extraLargeScreen{
            padding: 0px;
        }
        
        &-git{
            a{
                color: $lightBlack;
                font-weight: 600;
            } 
        }
    }
    &-address-block{
        position: absolute;
        top: 400px;
        right: 60px;
        background: $lightBlack;
        width: 300px;
        height: 130px;
        border-radius: 10px;
        padding: 10px;
        
        @mixin mediumScreen{
            top: 350px;
            right: 60px;
        }
        @mixin extraLargeScreen{
            top: 100px;
            right: 60px;
        }
        
        &-circle{
            width: 30px;
            height: 30px;
            font-size: 16px;
            text-align: center;
            padding: 5px 12px;
            border-radius: 50px;
            background: #0A0A0A;
            margin: 10px 0px;
        }
        
        &-info{
            font-size: 14px;
            font-weight: 500;
        }
    }
}