.design{
    &-left-rounded-triangle-design{
        position: absolute;
        top: 100px;
        left: -264px;
        z-index:-1;
        background: $bluishPurple;
        width: 500px;
        height: 450px;
        border-radius: 80px;
        transform: rotate(125deg);
        
        @mixin mediumScreen{
            width: 600px;
            height: 550px;
        }
        @mixin extraLargeScreen{
            width: 700px;
            height: 650px;
        }
    }
    &-left-rounded-triangle-light-design{
        position: absolute;
        top: 100px;
        left: -264px;
        z-index:-1;
        background: $bluishPurple;
        width: 500px;
        height: 450px;
        border-radius: 80px;
        opacity: 0.5;
        transform: rotate(125deg);
        
        @mixin mediumScreen{
            width: 600px;
            height: 550px;
        }
        @mixin extraLargeScreen{
            width: 700px;
            height: 650px;
        }
        
    }
    &-right-rounded-triangle-design{
        position: absolute;
        top: 100px;
        right: -350px;
        z-index:-1;
        background: gray;
        transition: background .6s easy-in;
        opacity: 0.2;
        width: 500px;
        height: 450px;
        border-radius: 80px;
        transform: rotate(145deg);
        
        @mixin mediumScreen{
            width: 600px;
            height: 550px;
        }
        @mixin extraLargeScreen{
            width: 800px;
            height: 650px;
        }
    }
    &-right-rounded-triangle-purple-design{
        position: absolute;
        top: 100px;
        right: -350px;
        z-index:-1;
        background: $bluishPurple;
        transition: background .6s easy-in;
        opacity: 0.8;
        width: 600px;
        height: 500px;
        border-radius: 80px;
        transform: rotate(153deg);
        
        @mixin mediumScreen{
            width: 500px;
        height: 600px;
        }
        @mixin extraLargeScreen{
            width: 900px;
            height: 850px;
        }
    }
}