.design-line{
    
    width: 150px;
    height: 150px;
    
    
    &-mainPurple{
        background: $mainPurple;
    }
    &-lightPurple{
        background: $lightPurple;
    }
    &-bluishPurple{
        background: $bluishPurple;
    }
}