.developers{
/*    padding: 50px 85px 50px 85px;*/
    padding: 50px 0px;
    
    &__line{
        display: flex;
        flex-direction: row;
    }
    
    &__outer{
        width: 100%;
        height: 100%;
        
        &__upper-box{
            width: 100%;
/*            height: 100%;*/
            display: flex;
            justify-content: center;
            position: relative;

            &__upper{
                background: $bluishPurple;
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: 108px;
                border-radius: 14px 14px 0 0;
            }

            &__dev-image{
                width: 90px;
                height: 90px;
                border-radius: 100%;
                margin-top: 0px;
                position: absolute;
                top: 48px;
                border: solid 3px $bluishPurple; 
                z-index: 2;
                
                @mixin mediumScreen{
                    width: 110px;
                    height: 110px;
                    top: 48px;
                }
                @mixin extraLargeScreen{
                    width: 125px;
                    height: 125px;
                    top: 48px;
                }

                img{
                    width: 87px;
                    height: 85px;
                    border-radius: 100%;
                    
                    @mixin mediumScreen{
                        width: 100px;
                        height: 100px;
                    }
                    @mixin extraLargeScreen{
                        width: 119px;
                        height: 119px;
                    }
                }
            }
        }
        
        &__lower-box{
            justify-content: center;
            padding-top: 68px;
            display: flex;
            flex-direction: row;
            
            @mixin extraLargeScreen{
                
            }
            
            &__title{
                text-align: center;
                font-size: 18px;
                color: $mainPurple;
                font-family: 'Manrope', sans-serif;
            }
            &__subtitle{
                text-align: center;
                font-size: 15px;
                color: $lightBlack;
                font-family: 'Raleway', sans-serif;
            }
            &__content{
                font-size: 14px;
                color: $lightBlue;
            }
            &__social-back{
                width: 80%;
                height: 50px;
                background: #F5F5F5;
                border-radius: 16px;
                text-align: center;
                padding: 12px;
                
                li{
                    display: inline-block;
                    padding: 0 12px;
                    cursor: pointer;
                    
                    span{
                        color: $mainPurple;
                        font-size: 18px;
                    }
                    &:hover span{
                        color: $bluishPurple;
                    }
                }
            }
        }
        &__more-info{
            width: 100%;
            height: 50px;
            background: #ccc;
            border-radius: 0 0 14px 14px; 
            justify-content: center;
            cursor: pointer;
            margin: 0px;
            padding: 13px;
            display: flex;
            flex-direction: row;
            
            p, span{
                font-size: 16px;
                color: $mainPurple;
                font-weight: 500;
            } 
        }
    }
}
.more-content{
    display: none;
}
.rotate-style{
    background-color: #CCCCCC;
    transform-style: preserve-3d;
    transition: all 0.5s;
    transform: rotateY(180deg);
    border-radius: 14px 14px 14px 14px;
}
.content-inner{
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    padding: 20px 35px 0px 35px;
    text-align: center;
    margin-bottom: 10px;
}
.display-none{
    display:none;
}
.toggle-rotate{
    transform: rotateY(180deg);
/*    transition: transform 0.6s;*/
}