.footer{
    background-color: #1F1F1F;
    color: #707070;
    padding: 30px 8px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    
    @mixin extraLargeScreen{
        font-size: 16px;
        padding: 30px 0px;
    }
}