
.section{
    padding: 80px 0;
    
    &-bg-white{
        background-color: $white;
    }
    &-bg-black{
        background-color: $lightBlack;
    }
}
.box-shadow{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)!important;
}
.border-radius-14{
    border-radius: 14px!important;
}

.translateY-50{
    transform: translateY(80px)!important;
}
.translateX-210{
    transform: translateX(-210px)!important;
}
.translateX-102{
    transform: translateX(-102px)!important;
}
.inline-block{
    display: inline-block!important;
}
.text-center{
    text-align: center;
}
.justify-center{
    justify-content: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify!important;
}
.d-block{
    display:block;
}
.round-top-left{
    border-top-left-radius: 10px; 
}
.round-top-right{
    border-top-right-radius: 10px; 
}
.round-bottom-left{
    border-bottom-left-radius: 10px; 
}
.round-bottom-right{
    border-bottom-right-radius: 10px; 
}
.round-all-corner{
    border-radius: 10px!important;
}

.m-0{
    margin: 0!important;
}
.m-t-0{
    margin-top: 0px!important;
}
.p-0{
    padding: 0!important;
}
.p-20{
    padding: 20px!important;
}
.m-t-20{
    margin-top: 20px!important;
}
.m-b-20{
    margin-bottom: 20px!important;
}
.m-b-100{
    margin-bottom: 100px!important;
}

.m-l-20{
    margin-left: 20px!important;
}
.m-l-130{
    margin-left: 130px!important;
}
.m-r-20{
    margin-right: 20px!important;
}
.m-r-40{
    margin-right: 40px!important;
}
.m-l-40{
    margin-left: 40px!important;
}
.p-b-50{
    padding-bottom: 50px!important;
}

.p-t-20{
    padding-top: 20px!important;
}
.p-t-45{
    padding-top: 45px!important;
}
.p-b-45{
    padding-bottom: 45px!important;
}
.p-b-35{
    padding-bottom: 35px!important;
}
.p-b-105{
    padding-bottom: 105px!important;
}
.p-t-50{
    padding-top: 50px!important;
}
.p-t-54{
    padding-top: 54px!important;
}
.p-t-105{
    padding-top: 70px!important;
}
.p-t-150{
    padding-top: 150px!important;
}

.m-t-50{
    margin-top: 50px!important;
}
.m-t-60{
    margin-top: 60px!important;
}
.m-t-150{
    margin-top: 150px!important;
}
.m-t-200{
    margin-top: 200px!important;
}

.p-l-16{
    padding-left: 16px!important;
}
.p-t-15{
    padding-top: 15px;
}
.p-b-15{
    padding-bottom: 15px;
}
.p-t-20{
    padding-top: 20px;
}
.p-b-20{
    padding-bottom: 20px;
}
.p-b-100{
    padding-bottom: 100px;
}
.p-b-0{
    padding-bottom: 0;
}

