.home-page{
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
    z-index: 1;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    
    @mixin extraLargeScreen{
        margin-top: 30px;
    }
    
    &__left-btn{
        padding: 17px 24px;
    }
    &__arrow-down{
        position: absolute;
        left: 50%;
        bottom: 20px;
        color: $bluishPurple;
        font-size: 32px;
        transform: translateX(-50%);
        z-index: 1;
        
        &:hover, 
        &:focus{
            text-decoration: none;
            color: $lightPurple;
        }
    }
    
    &__heading{
        font-size: 30px;
        color: #300d4f;
        font-family: 'Manrope', sans-serif; 
        font-weight: 500;
        letter-spacing: 0.5px;
        text-align: center;
        
        
        @mixin mediumScreen{
            font-size: 44px;
            text-align: left;
        }
        @mixin extraLargeScreen{
            font-size: 54px;
            text-align: left;
        }
    }
    
    &__sub-heading{
        color: #300d4f;
        font-family: 'Manrope', sans-serif;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 1.4;
        padding-top: 20px;
        padding-bottom: 20px;
        
        @mixin mediumScreen{
            padding-top: 35px;
            padding-bottom: 35px;
        }
        @mixin extraLargeScreen{
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
    
    &__right{
        height: 100%;
        background: $white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        padding: 16px;
        
        &__title{
            color: #300d4f;
            font-size: 16px;
            text-transform: capitalize;
            font-weight: 700;
        }
        
        &__tabs{
            width: 100%;
            height: 43px;
            border-radius: 10px 10px 0 0;
            background: $white;
            border-radius: 10px;
            
            &__row{
                flex-direction: row;
                
                @mixin mediumScreen{
                    flex-direction: row;
                }
                @mixin extraLargeScreen{
                    flex-direction: row;
                }
            }
            
            &__left-tab{
                height: 43px;
                cursor: pointer;
                padding: 10px!important;
                width: 50%;
                
                @mixin mediumScreen{
                    width: 100%;
                }
                @mixin extraLargeScreen{
                    width: 100%;
                }
                
                p{
                    font-size: 16px;
                    line-height: 1.1;
                }
            }
            &__right-tab{
                height: 43px;
                cursor: pointer;
                padding: 10px!important;
                width: 50%;
                
                @mixin mediumScreen{
                    width: 100%;
                }
                @mixin extraLargeScreen{
                    width: 100%;
                }
                
                p{
                    font-size: 16px;
                    line-height: 1.1;
                }
                
            }
        }
        
        &__inner-left{
            background: #FCFCFC;
            margin: 0px 8px;
            
            &__inner-tabs-section{
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                
                &__row{
                    flex-direction: row;

                    @mixin mediumScreen{
                        flex-direction: row;
                    }
                    @mixin extraLargeScreen{
                        flex-direction: row;
                    }
                }
                
                &__lang-content{
                    width: 100%;
                    height: 200px;
                    background: #2a2a2a;
/*                    color: $white;*/
                    border-radius: 0 0 5px 5px;
                    padding: 15px;
                }
            }
        }
        &__inner-right{
            background: #FCFCFC;
        }
        
    }
}
.active-tab{
    background: #2a2a2a;
    color: $white;
}
.inactive-tab{
    background: $white;
    color: $lightPurple;
    
    &:hover{
        background-color: $bluishPurple;
        color: $white;
    }
}
.active-tab-content{
    display:block;
}
.inactive-tab-content{
    display:none;
}