.line{
    width: 70px;
    height: 3px;
    margin-bottom: 30px;
    
    &-mainPurple{
        background: $mainPurple;
    }
    &-lightPurple{
        background: $lightPurple;
    }
    &-bluishPurple{
        background: $bluishPurple;
    }
    
    &-horiz-small{
        width: 6px!important;
        height: 20px!important;
        background-color: $mainPurple;
        border-radius: 4px;
        margin: 0px;
        margin: 20px 0;
    }
    
    &-light-abs{
        width: 100%;
        height: 1px;
        opacity: 0.5;
        background: $bluishPurple;
        position: absolute;
        top: 105px;
        left: 0px;
        z-index: 1;
    }
}