/************************************************************************
                            LOADER
************************************************************************/

.loader{
    /*Make fullscrean*/
    width: 100%;
    height: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
/*    background: #5c9320;*/
    background: linear-gradient(to right, #4A1A75 45%, $bluishPurple 82%);
    z-index: 9999999;
}

.loader-inner{
    position: absolute;
    top: 50%;
    left: 50%;
/*    background: #fff;*/
    width: 120px;
    height: 150px;
/*
    margin-top: -60px;
    margin-left: -60px;
*/
/*    if we dont know the width then use transform*/
    transform: translate(-50%, -50%);
    
    &__bar{
        width: 100%;
        height: 15px;
        background: $bluishPurple;
        border: solid 2px $lightGrey;
        border-radius: 10px;
        margin-left: 5px;
        overflow: hidden;
    }
}

.loader span{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 100%;
    display: block;
    position: absolute;
    animation: load 4s ease-in-out infinite;
    opacity: 0;
    
}
.loader-inner__bar span{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 100%;
    display: block;
    position: absolute;
    z-index: -1;
    animation: loading 3s ease-in-out infinite;
    opacity: 0;
    
}
@keyframes loading{
    0%{
        opacity: 0.8;
        transform: translateX(0px);
    }
    5%{
        opacity: 0.9;
        transform: translateX(20px);
    }
    10%{
        opacity: 1;
        transform: translateX(40px);
    }
    45%{
        opacity: 0.9;
        transform: translateX(55px);
    }
    90%{
        opacity: 0.8;
        transform: translateX(70px);
    }
    95%{
        opacity: 0.8;
        transform: translateX(90px);
    }
    100%{
        opacity: 0;
        transform: translateX(116px);
    } 
}


.loader-blocks{
    width: 35px;
    height: 35px;
}

.loader span.block-1{
    width: 15px;
    height: 15px;
    animation-delay: .10s;
    left: 48px;
    top: 2px;
    z-index: -1;
}
.loader span.block-2{
    width: 10px;
    height: 10px;
    animation-delay: .30s;
    left: 63px;
    top: 2px;
    z-index: -1;
}
.loader span.block-3{
    width: 15px;
    height: 15px;
    animation-delay: .39s;
    left: 58px;
    top: 10px;
    z-index: -1;
}
.loader span.block-4{
    width: 18px;
    height: 13px;
    animation-delay: .3s;
    left: 0px;
    top: 156px;
    z-index: 1;
}
.loader span.block-5{
    width: 19px;
    height: 13px;
    animation-delay: .13s;
    left: 20px;
    top: 156px;
    z-index: 1;
}
.loader span.block-6{
    animation-delay: .61s;
    left: 16px;
    top: 16px;
    z-index: -1;
}
.loader span.block-7{
    animation-delay: .52s;
    left: 32px;
    top: 16px;
    z-index: -1;
}
.loader span.block-8{
    animation-delay: .43s;
    left: 48px;
    top: 16px;
    z-index: -1;
}
.loader span.block-9{
    animation-delay: .34s;
    left: 0px;
    top: 32px;
    z-index: -1;
}
.loader span.block-10{
    animation-delay: .25s;
    left: 16px;
    top: 32px;
    z-index: -1;
}
.loader span.block-11{
    animation-delay: .16s;
    left: 32px;
    top: 32px;
    z-index: -1;
}
.loader span.block-12{
    animation-delay: .07s;
    left: 48px;
    top: 32px;
    z-index: -1;
}
.loader span.block-13{
    animation-delay: -0.02s;
    left: 0px;
    top: 48px;
    z-index: -1;
}
.loader span.block-14{
    animation-delay: -.11s;
    left: 16px;
    top: 48px;
    z-index: -1;
}
.loader span.block-15{
    animation-delay: -0.22s;
    left: 32px;
    top: 48px;
    z-index: -1;
}
.loader span.block-16{
    animation-delay: -.31s;
    left: 48px;
    top: 48px;
}
.loader-img{
    z-index: 2;
}

@keyframes load{
    0%{
        opacity: 0.2;
        transform: translateY(75px);
    }
    10%{
        opacity: 0.6;
        transform: translateY(60px);
    }
/*
    20%{
        opacity: 0.6;
        transform: translateY(45px);
    }
    30%{
        opacity: 1;
        transform: translateY(30px);
    }
    40%{
        opacity: 1;
        transform: translateY(15px);
    }
    50%{
        opacity: 1;
        transform: translateY(0px);
    }
    60%{
        opacity: 0.9;
        transform: translateY(-15px);
    }
*/
    70%{
        opacity: 0.9;
        transform: translateY(-30px);
    }
/*
    80%{
        opacity: 1;
        transform: translateY(-45px);
    }
*/
    90%{
        opacity: 0.5;
        transform: translateY(-60px);
    }
    100%{
        opacity: 0;
        transform: translateY(-75px);
    } 
}