.navbar{
    width: 100%;
    height: 95px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    
    &__desktop-logo{
        display: inline-block;
        height: 90px;
        
        img{
            height: 90px;
            padding-bottom: 15px;
            margin-top: -5px;
        }
    }
    
    &__list{
        
        text-transform: capitalize;
/*        margin:  auto;*/
        margin-left: 125px;
        display: inline-block;
        list-style: none;
        padding: 16px 0 16px 0;
        position: relative;
        display:flex;
        justify-content: center;
        width: 900px;        
        
        &__list-items{
            font-size: 16px;
            color: #300d4f;
            font-family: 'Manrope', sans-serif;
            display: inline-block;
            text-decoration: none;
            padding: 10px 25px 0px 25px;
            font-weight: 700;
            
            a{
                color: #300d4f;
                padding-bottom: 15px;
                text-decoration: none;
            }
            
            a:active{
                color: #452361;
            }
        }
        &__list-items:hover a{
            border-bottom: solid 3px #452361;
            border-radius: 2px;
            transition: all 0.3s ease-in-out;
        }
    }
    &__indicator{
        position: absolute;
        top: 75px;
/*        left: 454px;*/
        left: 31%;
        background-color: #452361;
        width: 60px;
        height: 3px;
        border-radius: 5px;
    }
    
    &__explore-btn{
        position: absolute;
        display: flex;
        justify-content: center;
        right: 140px;
        top: 28px; 
    }    
}
.desktop-nav{
    display: none;

    @mixin mediumScreen{
        display: none;
    }
    @mixin extraLargeScreen{
        display: block;
        display: flex;
        justify-content: flex-start;
    }
}
.mobile-nav{
    width: 100%;
    height: 75px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    
    @mixin mediumScreen{
        display: block;
    }
    @mixin extraLargeScreen{
        display: none;
    }
    
    &__logo-outer{
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-right: 28px;
        
        img{
            height: 80px;
            padding-bottom: 15px;
        }
        
        p{
            font-size: 17px;
            color: #2a2a2a;
            font-weight: 600;
            span{
                font-weight: 700;
                color: $bluishPurple;
                font-size: 25px;
            }
        }
        &__slash{
            color: $bluishPurple;
                font-size: 40px;
            font-weight: 600;
        }
    }
}
.mobile-header-icon{
    position: absolute;
    width: 20px;
    height: 20px;
/*    background-color: $mainBlue;*/
    top: 30px;
    right: 30px;
    @mixin mediumScreen{
        display: none;
    }
}

.mobile-header-icon{
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 19px;
/*    background-color: $grey;*/
    top: 30px;
    right: 30px;
    @mixin largeScreen{
        display: none;
    }
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: $bluishPurple;
        transform-origin: 0 0;
        transition: transform .3s ease-out;
    }
    &-bar{
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: $bluishPurple;
        transform-origin: 0 50%;
        transition: all .3s ease-out;
    }
    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: $bluishPurple;
        transform-origin: 0 100%;
        transition: transform .3s ease-out;
    }
    &-close{
        &::before{
            transform: rotate(45deg) scaleX(1.25);
        }
        .mobile-header-icon-bar{
            transform: scaleX(0);
            opacity: 0;
        }
        &::after{
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
    }
}
.mobile-menu{
    opacity: 0;
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9999;
    background: #fff;
    width: 100%;
    margin-top: 75px;
    padding: 15px 0px;
    &-active{
        opacity: 1;
        display: block;
    }
    &-list{
        list-style: none;
        padding-left: 0px;
        text-align: center;
        &-item{
            padding: 3px 0px;
            border-top: solid 1px $lightGrey;
        }
    }
    @mixin largeScreen{
        display: none;
    }
}
.home-link{
    border-top: none!important;
}
.menu-item-link{
    font-weight: 400;
    color: $bluishPurple;
}
.menu-item-link:hover{
    font-weight: 600;
    color: $mainPurple;
}
