.our-projects{
/*    padding: 60px 85px 60px 85px;*/
    padding: 60px 0px;
    color: $white;
    position: relative;
    z-index: 1;
    overflow: hidden;
    
    &__title{
        font-size: 34px;
        font-weight: 500;
        margin-left: 65px;
    }
    &__tab-link{
        padding: 0px 15px;
        a{
            text-decoration: none;
            color: #fff;
            font-weight: 300;
        }
    }
    &__project-tab-right{
        padding: 15px;
        
        @mixin extraLargeScreen{
            padding: 0px;
        }
        
        &__desktop-content{
            display: none;
            
            @mixin mediumScreen{
                display: none;
            }
            @mixin extraLargeScreen{
                display: block;
            }
        }
        &__mobile-content{
            display: block;
            font-size: 12px;
            
            @mixin mediumScreen{
                display: block;
            }
            @mixin extraLargeScreen{
                display: none;
            }
        }
        
        h2{
            color: #858585;
            
            span{
                font-size: 22px;
            }
        }
        p{
            color: #ccc;
        }
        a{
            background: $bluishPurple;
            color:#fff;
            border-radius: 18px;
            padding: 8px 10px;
            text-decoration: none;
            font-size: 13px;
        }
    }
}
.get-in-touch-btn:focus,
.get-in-touch-btn:hover{
    color: $bluishPurple;
    background: #2a2a2a;
    border: solid 1px $bluishPurple;
    text-decoration: none;
    box-shadow: none;
    font-weight: 600px!important;
    transition: all 0.3s;
}

#projects-tabs ul li.r-tabs-state-active a{
    color: $bluishPurple;
    font-weight: 700;
    border-bottom: 3px solid #4A1A75;
    border-radius: 0px 0px 3px 3px;
    padding-bottom: 5px;
    transition: border-color .3s linear;
    transition: color .3s ease-in-out;
    
}

/* owl carousel buttons*/
.owl-theme .owl-nav{
    margin: 10px 20px;
    display: flex;
    justify-content: flex-end;
}
.owl-theme .owl-nav [class*=owl-]{
    color: #fff!important;
    font-size: 36px!important;
    background: none;
    margin: 5px;
}
#projects-tabs .owl-theme .owl-nav [class*=owl-]:hover{
    background: none!important;
    color: $bluishPurple!important;
}
.r-tabs-accordion-title{
    text-align: center;
    padding-bottom: 15px;
}
.r-tabs-accordion-title a{
    color: $bluishPurple;
    font-weight: 700;
    border-bottom: 3px solid #4A1A75;
    border-radius: 0px 0px 3px 3px;
    padding-bottom: 5px;
    transition: border-color .3s linear;
    transition: color .3s ease-in-out;
}

