.use-cases{
/*    padding: 50px 85px 50px 85px;*/
    padding: 50px 0px;
    color: $white;
    position: relative;
    z-index: 1;
    overflow: hidden;
    
    &__design-left{
        top: 325px!important;
        
        @mixin mediumScreen{
            top: 130px!important;
        }
        @mixin extraLargeScreen{
            top: 100px!important;
        }
    }
    
    &__title{
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        
        @mixin mediumScreen{
            font-size: 34px;
            text-align:left;
        }
        @mixin extraLargeScreen{
            font-size: 34px;
            text-align: left;
        }
    }
    &__line{
        margin-top: 0px;
        margin-left: 148px;
        
        @mixin mediumScreen{
            margin-top: 60px;
            margin-left: 0px;
            transform: translateX(-210px)!important;
        }
        @mixin extraLargeScreen{
            margin-top: 60px;
            margin-left: 0px;
            transform: translateX(-210px)!important;
        }
    }
    &__subtitle{
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.25px;
        line-height: 1.3;
        font-weight: 500;
    }
    &__list{
        list-style: none;
        padding: 30px 5px;
        
        @mixin mediumScreen{
            padding: 70px 0px;
        }
        @mixin extraLargeScreen{
            padding: 100px 0px;
        }
        
        &__space{
            display: none;
            
            @mixin extraLargeScreen{
                display: inline-block;
            }
        }
        
        li{
            font-size: 18px;
            letter-spacing: 0.25px;
            line-height: 1.2;
            font-weight: 600;
            padding: 10px 0;
            text-align: left;
            
            @mixin extraLargeScreen{
                text-align: justify;
            }
            span{
                font-size: 20px;
                font-weight: 500;
                color: #2A2A2A;
            }
        }
    }
    
    &__content-row{
        display: flex;
        flex-direction: column-reverse;
        
        @mixin mediumScreen{
            flex-direction: row;
        }
        @mixin extraLargeScreen{
            flex-direction: row;
        }
    }
    &__image-mobile{
        width: 300px;
        height: 300px;
        display: block;
        
        @mixin mediumScreen{
            display: none!important;
        }
        @mixin extraLargeScreen{
            display: none!important;
        }
    }
    
    &__image{
        width: 450px;
        height: 450px;
        margin-left: 80px;
        display: none;
        
        @mixin mediumScreen{
            display: block;
        }
        @mixin extraLargeScreen{
            display: block;
        }
        
        &__man{
            width: 340px;
            position: absolute;
            top: 180px;
            right: 325px;
            z-index: 10;
        }
        &__code{
            width: 150px;
            position: absolute;
            top: 80px;
            right: 260px;
            z-index: 10;
        }
        &__carpet{
            position: absolute;
            top: 275px;
            right: 95px;
            z-index: 1;
        }
        &__bin{
            position: absolute;
            top: 410px;
            right: 150px;
            z-index: 3;
        }
        &__table{
            position: absolute;
            top: 190px;
            right: 170px;
            z-index: 2;
        }
        &__book{
            position: absolute;
            top: 175px;
            right: 420px;
            z-index: 3;
        }
        &__pen{
            position: absolute;
            top: 125px;
            right: 408px;
            z-index: 3;
        }
        &__dekstop{
            position: absolute;
            top: 150px;
            right: 290px;
            z-index: 3;
        }
        &__keyboard{
            position: absolute;
            top: 272px;
            right: 320px;
            z-index: 3;
        }
        &__tea-cup{
            position: absolute;
            top: 275px;
            right: 300px;
            z-index: 3;
        }
        &__flower-top-big{
            position: absolute;
            top: 150px;
            right: 130px;
            z-index: 1;
        }
        &__flower-top{
            position: absolute;
            top: 265px;
            right: 270px;
            z-index: 3;
        }
        &__headphone{
            position: absolute;
            top: 290px;
            right: 230px;
            z-index: 2;
        }
        &__dot{
            position: absolute;
            top: 180px;
            right: 125px;
            z-index: 1;
        }
    }
}

.rounded-triangle-design{
    position: absolute;
    top: 100px;
    left: -264px;
    z-index:-1;
    background: $bluishPurple;
    width: 700px;
    height: 650px;
    border-radius: 80px;
    transform: rotate(125deg);
    
}






